<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 这是依赖注入dependency inject的bean -->
	<bean id="spellChecker" class="com.springtutorial.DI.SpellChecker">
	</bean> 
	
	<!-- 通过构造方法形式依赖注入 -->
	<bean id="testEditor" class="com.springtutorial.DI.TestEditor">
		<constructor-arg ref="spellChecker" />
	</bean>
	
	<bean id="testEditor2" class="com.springtutorial.DI.TestEditor2">
		<property name="spellChecker" ref="spellChecker"/>
	</bean>
	
	<!-- 内部bean -->
	<bean id="testEditor3" class="com.springtutorial.DI.TestEditor3">
		<property name="spellChecker">
			<bean id="spellChecker1" class="com.springtutorial.DI.SpellChecker"></bean>
		</property>
	</bean>
	
	<!-- Java Collection -->
	<bean id="javaCollection" class="com.springtutorial.javaCollection.JavaCollection">
		<!-- results in a setAddressList(java.util.List) call -->
      <property name="addressList">
         <list>
            <value>INDIA</value>
            <value>Pakistan</value>
            <value>USA</value>
            <value>USA</value>
         </list>
      </property>

      <!-- results in a setAddressSet(java.util.Set) call -->
      <property name="addressSet">
         <set>
            <value>INDIA</value>
            <value>Pakistan</value>
            <value>USA</value>
            <value>USA</value>
        </set>
      </property>

      <!-- results in a setAddressMap(java.util.Map) call -->
      <property name="addressMap">
         <map>
            <entry key="1" value="INDIA"/>
            <entry key="2" value="Pakistan"/>
            <entry key="3" value="USA"/>
            <entry key="4" value="USA"/>
         </map>
      </property>
      
      <!-- results in a setAddressProp(java.util.Properties) call -->
      <property name="addressProp">
         <props>
            <prop key="one">INDIA</prop>
            <prop key="two">Pakistan</prop>
            <prop key="three">USA</prop>
            <prop key="four">USA</prop>
         </props>
      </property>
	
	</bean>
</beans>