<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 这是依赖注入dependency inject的bean -->
	<bean id="spellChecker" class="com.springtutorial.DI.SpellChecker">
	</bean>
	
	<!-- 通过构造方法形式依赖注入 -->
	<bean id="testEditor" class="com.springtutorial.DI.TestEditor">
		<constructor-arg ref="spellChecker" />
	</bean>
	
	
	
</beans>